charset-normalizer==3.4.9
Jinja2==3.1.6
markdown-it-py==4.2.0
MarkupSafe==3.0.3
mdurl==0.1.2
pillow==12.3.0
psutil==7.2.2
pyfiglet==1.0.4
Pygments==2.20.0
reportlab==5.0.0
rich==15.0.0
tabulate==0.10.0
